body {
  background-color: #eee;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  color: #444;
}

main {
  padding: 20px 0;
}

li, .card, .collapsible-body {
  margin: 0;
  padding: 0;
}

.collapsible {
  margin: 2.5rem 0 1rem 0;
}

.collapsible-header .card-title {
  line-height: 32px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 300;
}

.page-footer {
  text-align: center;
  padding: 20px;
}
