body {
  background-color: #eee;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h3 {
  color: #dd5656;
  font-size: 125%;
}

.nav-wrapper {
  background-color: #87b5f2;
}

nav .title {
  padding: 0 50px;
  color: #fcfcff;
}

.dropdown-content li > a {
  transition: background-color .25s ease-out;
}

.dropdown-content li > a:hover {
  color: #333 !important;
}

svg {
  fill: currentColor;
}

svg.return {
  width: 19px;
  height: 19px;
  padding-top: 5px;
  position: relative;
  top: 5px;
  padding-right: 5px;
  margin-right: 7px;
}

svg.arrow-down {
  display: inline-block;
  position: relative;
  top: 10px;
  height: 25px;
  width: 25px;
  content: '';
  color: #fcfcff;
}

main {
  flex: 1 0 auto;
  padding-left: 30px;
}

blockquote {
  border-left: 6px solid #ccc;
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
}

blockquote li {
  margin: 15px 5px;
  padding-left: 10px;
}

.url {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

footer.page-footer {
  text-align: center;
  padding: 15px;
  color: #667;
}

.page-footer a {
  color: #55a;
}

@media (max-width: 479px) {
  main {
    padding-left: 10px;
  }
}
