body {
  background-color: #eee;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0 0 30px;
}
h3 {
  color: #dd1111;
}

blockquote {
  border-left: 6px solid #ccc;
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
}

li {
  margin: 15px 5px;
  padding-left: 10px;
}

.url {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
