body {
  background-color: #eee;
  /*font-size: 1.1rem;*/
  font-family: 'Roboto', sans-serif;
  padding: 25px 0 0 0;
}

header.mc-header{
  width: 100%;
  left: 0;
}

.main-box {
  /*display: flex;*/
  max-width: 80%;
  margin: 0 auto;
}

.mc-card > .mc-header > .mc-title {
    font-size: 17px;
    background-color: rgba(29, 20, 20, 0.44);
    width: 100%;
}

.mc-card > .mc-content {
  padding-bottom: 10px;
}

.mc-content .mc-button {
  left: 5%;
  font-weight: normal;
}

.mc-input {
  width: 85%;
  left: 5%;
}

.box {
  padding: 20px;
}

body footer.mc-footer{
  width: 80%;
  left: 10%;
}
