body {
  background-color: #eee;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  padding: 0px;
}
h3 {
  color: #dd1111;
}

input {
  width: 95%;
  margin: 5px 0px;
  padding: 5px 2.5%;
  border: 1px solid;
}

input[type="submit"] {
  width: 100%;
}

.box {
  padding: 20px;
}
