body {
  background-color: #eee;
  /*font-size: 1.1rem;*/
  font-family: 'Roboto', sans-serif;
}

.main-menu {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0;
  padding: 0 10px;
  font-size: 1.75rem;
  z-index: 50;
  background: #f9a8254d;
  border-radius: 2px;
  border: 1px solid #f9a82566;
  transition: all 1.5s ease-out;
}

.main-menu:hover {
  cursor: pointer;
  background: #f9a82599;
  border-radius: 2px;
  border: 1px solid #f9a825;
}

@keyframes beat_animation {
	0% { transform: scale(1); }
	47% { transform: scale(1); }
	49% { transform: scale(.90); }
	51% { transform: scale(1.03); }
	53% { transform: scale(1); }
	100% { transform: scale(1); }
}

.beat {
	animation-name: beat_animation;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function:ease-out;
}

.side-nav .userView {
  height: 200px;
}

.side-nav .info{
  position: absolute;
  bottom: 10px;
  left: 0px;
  background-color: #0f0e0e80;
  width: 100%;
}

.side-nav .info a {
  height: 30px;
  line-height: 10px;
  padding: 10px;
  color: #fafafa;
}

.side-nav .info span {
  font-weight: 300;
}

.side-nav li.intro {
  line-height: 1.6rem;
  padding: 0 15px;
}

.side-nav li.nav-icons i{
  font-size: 1.5rem;
  color: #4CAF50;
}

.side-nav a {
  font-weight: 300;
  font-size: 17px;
}


.intro .mdi-information-outline {
  font-size: 1.6rem;
}

.side-nav li a.bare-link {
  padding: 0;
  margin: 0;
  display: inline;
  height: 0px;
  line-height: 0px;
  font-size: inherit;
  font-weight: inherit;
}

.main-box {
  margin-top: 10px;
}

.input-field {
  width: 100% !important;
  padding: 0 !important;
}

.card {
  transition: box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
}

.card .card-image .card-title {
    max-width: 100%;
    padding: 10px;
    background-color: #0f0e0e80;
    width: 100%;
}

/* label color */
 .input-field label {
   /*color: #000;*/
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #f9a825;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #f9a825;
   box-shadow: 0 1px 0 0 #f9a825;
 }

.page-footer {
  text-align: center;
  padding: 20px;
}
